In [ ]:
import torch
import torch.nn as nn

In [ ]:
bilstm = nn.LSTM(input_size=10, hidden_size=20, num_layers=2, bidirectional=True)
input = torch.randn(5, 3, 10)
h0 = torch.randn(4, 3, 20)
c0 = torch.randn(4, 3, 20)
output, (hn, cn) = bilstm(input, (h0, c0))

In [ ]:
output = output.view(5, 3, 2, 20)

In [ ]:
hn.shape

In [ ]:
output[4, 0, 0]

In [ ]:
hn = hn.view(2, 2, 3, 20)

In [ ]:
hn[1, 0, 0,]

In [ ]:
hn.shape

In [ ]:
x1, x2, x3, x4 = hn.shape

In [ ]:
x1

In [ ]:
x2

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("data/train.csv")

In [3]:
train

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
...,...,...,...
108259,3,Retailers Seek To Block US Curbs on Chinese Te...,The New York-based Association of Importers of...
108260,4,Microsoft Sues Spammers over Porn E-Mails,Laws require that sexually oriented solicitati...
108261,4,Spammers get taste of their own medicine,Internet users are being given the chance to h...
108262,4,Jail terms for DRam price fixers,Four executives at German memory supplier Infi...
108263,4,Mobile phones: An ear full of worms,They #39;re coming to mobile phones - those na...

In [4]:
train.iloc[0]

Class Index                                                    3
Title          Wall St. Bears Claw Back Into the Black (Reuters)
Description    Reuters - Short-sellers, Wall Street's dwindli...
Name: 0, dtype: object

In [10]:
from tqdm.notebook import tqdm

In [11]:
labels = train["Class Index"].tolist()
titles = train["Title"].tolist()
descriptions = train["Description"].tolist()

In [12]:
res = {
    "label": [],
    "text": []
}
for label, title, description in tqdm(zip(labels, titles, descriptions)):
    res["label"].append(label)
    res["text"].append("%s %s" % (title, description))

|          | 0/? [00:00<?, ?it/s]

In [13]:
res = pd.DataFrame(res)

In [14]:
res

        label                                               text
0           3  Wall St. Bears Claw Back Into the Black (Reute...
1           3  Carlyle Looks Toward Commercial Aerospace (Reu...
2           3  Oil and Economy Cloud Stocks' Outlook (Reuters...
3           3  Iraq Halts Oil Exports from Main Southern Pipe...
4           3  Oil prices soar to all-time record, posing new...
...       ...                                                ...
108259      3  Retailers Seek To Block US Curbs on Chinese Te...
108260      4  Microsoft Sues Spammers over Porn E-Mails Laws...
108261      4  Spammers get taste of their own medicine Inter...
108262      4  Jail terms for DRam price fixers Four executiv...
108263      4  Mobile phones: An ear full of worms They #39;r...

[108264 rows x 2 columns]

In [15]:
class Test:
    def __init__(self):
        self.x = 0

In [16]:
L = [Test(), Test(), Test()]

In [17]:
L

[<__main__.Test at 0x7f4d79b3af10>,
 <__main__.Test at 0x7f4d79b3a910>,
 <__main__.Test at 0x7f4d79b3a810>]

In [18]:
for i, item in enumerate(L):
    item.x = i

In [19]:
L[0].x

0

In [20]:
L[1].x

1

In [21]:
L[2].x

2